<h3>Welcome to Elearn</h3>
<p>
    elearn is a simple and free online learning plateform. Insturctors can create courses 
    and students can register for courses which include assignments, quizes and support forums.
</p>
<a class="button" href='/users/register'>Sing Up Free</a>
<p>You need to sign up to register for free classes</p>
