<h2>Classses</h2>
{{#each classDatas}}
<div class="block">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <p>instrocutor: <strong>{{instructor}}</strong></p>
    <a class="button" href="/classes/{{_id}}/detail">Class Detail</a>
</div>
{{/each}}